{{#if user}}
	<div class="columns">
		<div class="column is-one-quarter" style="padding-left: 2rem">
			<h4 class="title is-4">Guilds</h4>
			<ul>
				{{#each guilds as |value key|}}
					<li><a href="/guild/{{value.id}}">{{value.name}}</a></li>
				{{/each}}

			</ul>
		</div>
		<div class="column">
			<p>Welcome to {{title}}!</p>

			<p>Welcome <b>{{user.username}}</b></p>
			<figure class="image is-32x32">
				<img src="https://discordapp.com/api/users/{{user.id}}/avatars/{{user.avatar}}.jpg">
			</figure>
		</div>
	</div>
{{/if}}
