<h1>{{title}}</h1>
<p>Welcome to {{title}}!</p>

<p>Guild ID: <b>{{doc.0.guildID}}</b></p>

{{#if success}}
	<section class="success">
		<h2>Successful Validation</h2>
	</section>
{{else}}
	{{#if errors}}
		<section class="errors">
			<ul>
				{{#each errors}}
					<li>{{this.msg}}</li>
				{{/each}}
			</ul>
		</section>
	{{/if}}
	<form action="/submit" method="POST">
		<div class="input">
			<label for="email">EMail</label>
			<input type="email" name="email" placeholder="EMail">
		</div>
		<div class="input">
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="Password">
		</div>
		<div class="input">
			<label for="cpassword">Confirm Password</label>
			<input type="password" name="cpassword" placeholder="Confirm Password">
		</div>
		<button type="submit">Submit</button>
	</form>
{{/if}}


